log
tmp
HELP.md
target/
.mvn
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS ###
.vs/
dotnet/crud-restful/bin
dotnet/crud-restful/obj
dotnet/crud-restful/bin/**
dotnet/crud-restful/obj/**

### VS Code ###
.vscode/

### flask ###
python/flask/.Python
python/flask/bin/**
python/flask/include/**
python/flask/lib/**

### node ###
node/node_modules

### cpp ###
cpp/cmake-build-debug

### php ###
php/vendor

### lua ###
lua/client_body_temp
lua/fastcgi_temp
lua/logs
lua/proxy_temp
lua/scgi_temp
lua/uwsgi_temp


